.ui.borderless.menu {
  background-color:#F5F5F5;
  box-shadow:none;
  border: none;
}

.grey-background {
  background-color: #292929;
  height: 300px;
  color: white;
}

.colorblocktop {
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}
